$green: #00a289;
$grey: #D3D3D3;
$yellow: #fce650;
$red: #ef4c59;

body {
  font-family: 'Raleway', sans-serif;
}

* {
  font-family: inherit;
}

.navbar-inverse {
  background: $green;
  border: none;
  .navbar-nav {
    li {
      a {
        color: white;
        font-size: 12px;
        padding-left: 100px;
        letter-spacing: 3px;
      }
    }
  }
  .navbar-brand {
    color: white;
    letter-spacing: 2px;
  }
}

.about {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  p {
    font-size: 18px;
  }
  .github {
    height: 40px;
    width: 40px;
    background: url('../components/about/github.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    margin: 20px;
  }
  .linkedin {
    background: url('../components/about/linkedin.png');
    @extend .github;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .words {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.portfolio {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  .eastenders {
    height: 350px;
    width: 440px;
    background: url('../components/portfolio/eastenders.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    margin: 20px;
  }
  .pylon1 {
    @extend .eastenders;
    background: url('../components/portfolio/pylon1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .accommodata {
    @extend .eastenders;
    background: url('../components/portfolio/accommodata.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .pylon2 {
    @extend .eastenders;
    background: url('../components/portfolio/pylon2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
