body {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #60658E; }

* {
  font-family: inherit; }

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 25px;
  z-index: 3; }

.bm-burger-button:hover {
  cursor: pointer; }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white; }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px; }

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7; }

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em; }

.bm-menu a {
  font-size: 25px;
  color: white; }

.bm-menu a:hover {
  text-decoration: none;
  color: #60658E; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47; }

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em; }

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3); }

.about {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
  color: white; }

.about p {
  font-size: 20px;
  letter-spacing: 2px;
  text-align: justify; }

.about .github, .about .linkedin, .about .email {
  height: 40px;
  width: 40px;
  background: url("../components/about/github.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  margin: 20px; }

.about .linkedin {
  background: url("../components/about/linkedin.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.about .email {
  background: url("../components/about/email.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.about .words {
  margin-top: 50px;
  margin-bottom: 50px; }

.portfolio {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: white;
  margin-top: 150px; }

.portfolio .eastenders, .portfolio .pylon1, .portfolio .accommodata, .portfolio .pylon2 {
  background-image: url("../components/portfolio/eastenders.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
  cursor: pointer; }

.portfolio .pylon1 {
  background: url("../components/portfolio/pylon1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.portfolio .accommodata {
  background: url("../components/portfolio/accommodata.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.portfolio .pylon2 {
  background: url("../components/portfolio/pylon2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.portfolio .info {
  padding-top: 20vh;
  padding-bottom: 34vh; }

.portfolio .info p {
  font-size: 20px;
  letter-spacing: 1px;
  text-align: justify;
  margin-bottom: 30px; }

.portfolio .info h1 {
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 30px; }

.portfolio .info button {
  border: 2px solid white;
  background-color: transparent;
  height: 70px;
  width: 200px;
  margin: 30px; }

.portfolio .info button:hover {
  border-color: #373A47; }

.portfolio .info button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 6px; }

.home {
  height: 100vh;
  max-width: 100vw;
  background: url("../components/home/home.png");
  background-position: center;
  background-size: cover;
  z-index: 2; }
