body {
  font-family: 'Raleway', sans-serif; }

* {
  font-family: inherit; }

.navbar-inverse .navbar-nav li a {
  color: white;
  font-size: 12px;
  padding-left: 100px;
  letter-spacing: 3px; }

.navbar-inverse .navbar-brand {
  color: white;
  letter-spacing: 3px; }

.navbar {
  background: #00a289;
  border: none; }

.about {
  width: 70%;
  margin: 0 auto;
  text-align: center; }

.about p {
  font-size: 18px; }

.about .github, .about .linkedin {
  height: 40px;
  width: 40px;
  background: url("../components/about/github.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  margin: 20px; }

.about .linkedin {
  background: url("../components/about/linkedin.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.about .words {
  margin-top: 50px;
  margin-bottom: 50px; }
